.App {
  height: 100%;
}

a {
  color: inherit !important;
} 


.pagination {
  justify-content: center !important;
}

.search-results {
  position: absolute;
  top: 219px;
  width: calc(80vw - 1rem);
  z-index: 1;
  color: #343a40;
}

.search-result-img {
  min-width: 2.5rem;
  max-width: 5.5rem;
}

.search-result-title {
  font-size: larger;
  margin-bottom: 1rem;
}
