.page-item.active .page-link {
  color: white !important;
  background-color: grey !important;
  border-color: grey !important;
}

.page-link {
  background-color: #292929 !important;
  border-color: black !important;
}