.pagination {
  justify-content: center !important;
}

.search-results {
  position: absolute;
  top: 164px;
  width: 100%;
  z-index: 1;
  margin-top: -1rem; /* Removes the spacing between search bar and search result */
}

.search-result-img {
  min-width: 2.5rem;
  max-width: 5.5rem;
}

.search-result-title {
  font-size: larger;
  margin-bottom: 1rem;
}
